* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #1f1d1d;
    --tertiary-color: ;
}

body {
    font-family: Roboto,sans-serif;
    color: var(--primary-color);
    background-image: url(../images/image-from-rawpixel-id-434041-jpeg.jpg);
    background-size: cover;
}

/* Navigation */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--secondary-color);
}

header h1 {
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* End Navigation */

/* Section: Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 60%;
}

.hero h2 {
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
}

.hero h4 {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 20px;
}
/* End Hero */

/* Section: About */


/* Section: Projects */


/* Section: Contact */